
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #0e0d0d;
  color: #080808;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #f5ba13;
}

.paginationActive a {
  color: white;
  background-color: #f5ba13;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
  display: none;
}
