
.noteboxMain {
    font-family: "Source Sans Pro", sans-serif;
    min-height: 80vh;
    width: 100vw;
    background-color: #d3cfc3;
    display: flex;
    flex-direction: column;
  }
  
  .mainInputBox{
    display: flex;
    justify-content: center;
  
  }
  
  .inputBox{
    margin-top: 3rem;
    height: rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
  
  }
  
  .inputBox :nth-child(1){
    border : none;
    border-bottom: 1px solid black;
    height: 2rem;
    outline: none;
  }
  .inputBox :nth-child(2){
    height: 6rem;
    resize: none;
    border:none;
    outline: none;
  }
  
  
  .btnFlex button{
    height: 2.5rem;
    width:  2.5rem;
    resize: none;
    border:none;
    border-width: 0px;
    border-radius: 50% ;
    background-color: #f5ba13;
    /* display: absolute; */
    
  }
  
  @media only screen and  (max-width : 450px) {
    .inputBox{
      width: 70%;
    }
  }