@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  
}

.main {
  background-color: #d3cfc3;
  min-height: 100vh;
}
